.tittle {
    text-align: center;
    margin-top: 220px;
    color: #F4ECF7;
    text-shadow: black 1px 0 10px;
}

.tittle h1 {
    font-size: 8rem;
    padding-bottom: 15px;
    animation: fadeInTitle 3s ease;
}

@media (max-height: 700px) {
    .tittle {
        margin-top: 100px;
    }
}


@media (max-width: 790px) and (min-width: 500px) {
    .tittle h1 {
        font-size: 5rem;
    }
}

@media(max-width: 500px) {
    .tittle h1 {
        font-size: 3rem;
    }

}

@keyframes fadeInTitle {
    0% {
        opacity: 0;
        padding-right: 200px;
    }

    100% {
        opacity: 1;
        padding-right: 0;
    }
}
